htmlcov
.coverage
.env.local
__local*
__tmp*

.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

HELP.md
**/.coverage
build
target
.bsp
CMakeUserPresets.json

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

# MacOS Finder files.
.DS_Store

### Jupyter Lab ###
.virtual_documents
.ipynb_checkpoints

### Gradle ###
.gradle
!**/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### JS/TS ###
node_modules
.cache
**/ts/**/.env
tsconfig.tsbuildinfo
*--local-demo.js
*--local-demo.ts
*--local-demo.jsx
*--local-demo.tsx

### Python ###
*.pyc
*__pycache__*
