div.template1 p {
    /* typography */
    font-weight: bold;
    line-height: 1;
    text-decoration-color: oklch(68.5% 0.169 237.323);
    text-decoration-line: line-through;
    font-style: italic;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    letter-spacing: 0.025em;
    word-break: keep-all;
    vertical-align: super;
    text-transform: lowercase;
    color: currentColor;
    white-space: pre;
}

div.template2 p {
    /* typography */
    font-weight: 200;
    text-align: right;
    font-size: 14px;
    line-height: calc(1.25 / 0.875);
    text-decoration-thickness: 1px;
    text-decoration-style: solid;
    vertical-align: bottom;
    color: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    letter-spacing: 0;
    text-decoration-color: oklch(65.6% 0.241 354.308);
    font-family:
        ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

div.template3 p {
    /* typography */
    line-height: 3;
    vertical-align: text-bottom;
    overflow: visible;
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-line-clamp: unset;
    list-style-type: decimal;
    font-stretch: condensed;
    text-transform: capitalize;
    text-decoration-line: underline;
    text-underline-offset: 1px;
    border-color: oklch(0.553 0.013 58.071);
    background-color: color-mix(in oklab, oklch(37.3% 0.034 259.733) 70%, transparent);
}

div.template4 p {
    /* typography */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    background-color: oklch(0.488 0.243 264.376);
    color: oklch(0.885 0.062 18.334);
}

div.template5 p {
    border-color: color-mix(in oklab, oklch(27.7% 0.046 192.524) 30%, transparent);
    background-color: color-mix(in oklab, oklch(71.8% 0.202 349.761) 85.2%, transparent);
}
