{
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ],
  "singleQuote": false,
  "semi": false,
  "trailingComma": "all"
}
