[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
matplotlib = "*"
pandas = "*"
scikit-learn = "*"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.12"

[scripts]
lint = "pylint ."
format = "black --config pyproject.toml ."
