[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chemlib = "*"
django = "*"
djangorestframework = "*"

[dev-packages]
flake8 = "*"
pylint = "*"
coverage = "*"

[requires]
python_version = "3.11"
